.style{
  align-items: center;
  margin-left: 50%;
  margin-top: 30px;
}
.div{
  align-items: center;
  margin-left: 45%;
  margin-top: 10%;

}
.search{
  width:10rem;
  height:3rem;
}
.ulcontent{
  text-decoration: none;
}
.licon{
  text-decoration: none;
  list-style: none;
}